mat-list-item mat-icon.validator-icon-neutral {
  color: #9e9e9e;
}

mat-list-item mat-icon.validator-icon-success {
  color: rgb(76, 175, 80);
}

mat-list-item mat-icon.validator-icon-failed {
  color: #f44336;
}
